<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @visitante %>

    <div id="control-box">

        <%= link_to 'Edit this visitante', edit_visitante_path(@visitante), class: "control-btn mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to 'Destroy this visitante', visitante_path(@visitante), method: :delete, class: "control-btn mt-2 rounded-lg py-3 px-5 bg-blue-600 font-medium dark:text-white" %>
        </div>
        <%= link_to 'Back to visitantes', root_path, class: "control-btn ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    </div>
  </div>
</div>
