/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    background-color: #282b3a;
 }

#nav-full {
    align-items: center;
    justify-content: center;
}

#nav-upbar {
    padding: 50px;
}

#nav-title:hover {
    color: whitesmoke;
}

#nav-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 2px #93989a;
}


#nav-img:hover {
    transition: 1s;
    border-radius: 20%;
    border: solid 2px white;
}


hr {
    border: solid 1px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


#visitor {

    flex-basis: 50%;
}

#photo {
    border-radius: 50%;
    border: solid 2px #93989a;
}

#photo:hover {
    transition: 1s;
    border-radius: 20%;
    border: solid 2px white;
}

#infos > p {
    color: white;
    font-weight: bold;
}

.show-btn:hover {
    transition: 1s;
    color: steelblue;
}

#control-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.control-btn {
    margin: 5px;
}


@media only screen and (max-device-width: 1300px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    #footer-text {
        font-size: small;
    }

}

@media only screen and (max-device-width: 700px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #visitor {
        width: 270px;
        height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-text {
        font-size: small;
    }

}


footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}
