<div class="bg-[#1d1f2b] rounded-lg shadow">
    <div class="mt-10 pb-4 h-2 px-24 py-10 flex items-center cursor-pointer">
        <p>Footer</p>
        </div>
        <span class="w-full border-[#242634] mt-12"></span>
        <div class="h-16 py-10 flex items-center">
            <p class="ml-3 text-[#93989a]">Coders</p>
        </div>
    </div>
</div>
