<div class="bg-[#1d1f2b] rounded-lg shadow">
    <hr class="w-full border-[#333549] shadow"/>
    <div class="h-2 px-24 py-10 flex items-center cursor-pointer">
        <p id="footer-text" class="ml-5 text-[#93989a]">Alan Ramalho, Todos os direitos reservados. 2022</p>
    </div>
</div>
