<div class="bg-[#1d1f2b] rounded-lg shadow">
    <hr class="w-full border-[#333549] shadow"/>
    <div class="h-2 px-24 py-10 flex items-center">
        <p id="footer-text" class="ml-5 text-[#93989a]">
            <a href="https://www.linkedin.com/in/alan-ramalho-4313771a9/">Alan Ramalho</a>, Todos os direitos reservados. 2022
        </p>
    </div>
</div>
