<div id="nav-full" class="bg-[#1d1f2b] rounded-lg shadow">
    <div id="nav-upbar" class="h-2 px-24 py-10 flex items-center cursor-pointer">
        <img id="nav-img" src="https://images.unsplash.com/photo-1546198632-9ef6368bef12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        <p id="nav-title" class="ml-5 text-xl font-semibold text-[#93989a]">Sistem para gerênciamento de visitantes</p>
        </div>

        <hr class="w-full border-[#333549] "/>
        <nav class="bg-gray-50 dark:bg-gray-700">
    <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
        <div class="flex items-center">
            <ul id="nav-menu" class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                <li>
                    <a href="<%= root_path %>" class="text-gray-900 dark:text-white">
                        INICIO
                    </a>
                </li>
                <li>
                    <a href="<%= new_visitante_path %>" class="text-gray-900 dark:text-white shadow bg-blue-600 ">
                        CADASTRAR
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr class="w-full border-[#333549] shadow"/>
    </div>
</div>
