<div class="bg-[#1d1f2b] rounded-lg shadow">
    <div class="h-2 px-24 py-10 flex items-center cursor-pointer">
        <img id="nav-img" src="https://media.istockphoto.com/photos/electric-passenger-train-drives-at-high-speed-among-urban-landscape-picture-id1181249621?b=1&k=20&m=1181249621&s=170667a&w=0&h=N1wPjFO8LzMqlKrulVVIrD2vQz6pm-y86vIdBx1G018=">
        <p class="ml-5 font-semibold text-[#93989a]">Navbar</p>
        </div>

        <hr class="w-full border-[#333549] "/>
        <nav class="bg-gray-50 dark:bg-gray-700">
    <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
        <div class="flex items-center">
            <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                <li>
                    <a href="<%= root_path %>" class="text-gray-900 dark:text-white hover:underline" aria-current="page">
                        INICIO
                    </a>
                </li>
                <li>
                    <a href="<%= new_visitante_path %>" class="text-gray-900 dark:text-white hover:underline">
                        CADASTRAR
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr class="w-full border-[#333549] shadow"/>
    </div>
</div>
